<ul class="nav navbar-nav navbar-right">
    @if (Session["ScreenName"] == null)
    {
        <li>@Html.ActionLink("Login", "Login", "Security")</li>
        <li>@Html.ActionLink("Signup", "Signup", "Security")</li>
    }
    else
    {
        <li class="dropdown">
            <a style="color: white;" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@Session["ScreenName"].ToString() <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li style="color: white;">@Html.ActionLink("Logout", "Logout", "Security")</li>
            </ul>
        </li>
    }
    <li><a href="https://github.com/GennaMarco/Progetti_ASP.NET/" target="_blank"><i class="fa fa-github fa-2x"></i>Github</a></li>
</ul>
