@using SimulationExam.Web.Models.Entity

@{
    ViewBag.Title = "Create";
}

<h2 class="text-center">Create activity</h2>

@model User

<div>
    <hr />
    @using (Html.BeginForm("Create", "User", FormMethod.Post))
    {
        <div class="form-group">
            <label for="userName">Name</label>
            <input class="form-control" id="userName" name="User.Name" type="text">
        </div>
        <hr />
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>List of activities dates invited</th>
                </tr>
            </thead>
            <tbody class="activity-dates-list">
                <tr>
                    <td class="text-center">
                        <input class="form-control" name="Activity.ActivityDate[0].Date" type="text" data-role="activity-date">
                    </td>
                </tr>
                <tr>
                    <td>
                        <a class="btn btn-success" data-role="add-activity-date">Add date</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <button type="submit" class="btn btn-success">Save</button>
    }
</div>

