@using SimulationExam.Web.Models.Entity;
@using SimulationExam.Web.Models.Model;

@{
    ViewBag.Title = "Create";
}

<h2 class="text-center">Create User</h2>

@model UserVM

<div>
    <hr />
    @using (Html.BeginForm("Create", "User", FormMethod.Post))
    {
        <div class="form-group">
            <label for="userName">Name</label>
            <input class="form-control" id="userName" name="User.Name" type="text">
        </div>
        <div class="form-group">
            <label for="userEmail">Email</label>
            <input class="form-control" id="userEmail" name="User.Email" type="email">
        </div>
        <div class="form-group">
            <label for="userPassword">Password</label>
            <input class="form-control" id="userPassword" name="User.Password" type="password">
        </div>
        <hr />
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Send invite to the user</th>
                </tr>
            </thead>
            <tbody class="user-activity-dates-list">
            @for (int i = 0;  i < Model.ActivityDates.Count; i++)
            {
                ActivityDate activityDate = Model.ActivityDates.ElementAt(i);
                string dateValue = String.Format("{0:d/M/yyyy}", activityDate.Date);
                <tr class="user-activity-date-tr">
                    <td>
                        <label>
                            <input type="hidden" name="User.UserActivityDate[@i].ActivityDateId" value="@activityDate.Id">
                            <input type="checkbox" name="User.UserActivityDate[@i].IsPartecipant" value="1"/> @activityDate.Activity.Name - @dateValue
                        </label>
                    </td>
                </tr>
            }
            </tbody>
        </table>
        <button type="submit" class="btn btn-success">Save</button>
    }
</div>

