@using SimulationExam.Web.Models.Entity;

@{
    ViewBag.Title = "Home Page";
}

@if (TempData["errorMessage"] != null)
{
    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-danger">
                <strong>Attenzione!</strong> @TempData["errorMessage"];
            </div>
        </div>
    </div>
}

<div class="jumbotron">
    <h1>HomePage</h1>
</div>
